.search-container {
  width: 40%;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 42%;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  width: 100%;
}

.search-icon {
  color: #666;
  font-size: 1.2rem;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #333;
}

.search-input::placeholder {
  color: #999;
}

.search-bar-container {
  margin-top: 10rem;
  margin-bottom: 2rem;
}
