.NotificationCard {
  width: 325px;
  height: 200px;
  border: 2px solid #0000000d;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nc-title {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.nc-body {
  font-size: 14px;
  font-weight: 400;
}

.nc-ref {
  width: 200px;
  height: 31px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}
.nc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
