.NotificationsPanel {
  width: 25%;
}

.np-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
}

.np-header {
  display: flex;
  justify-content: space-between;
}

.np-title {
  font-size: 16px;
  font-weight: 500;
  color: #00000080;
}

.np-mark {
  font-size: 14px;
  font-weight: 500;
  color: #00000080;
}

.np-see-all {
  width: 95px;
  height: 31px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 15px 0px;
}

.lh-currentTab {
  background-color: #333333;
  color: white;
}
