.navbar-custom {
  background-color: rgba(80, 0, 0, 0);
  width: 100%;
  justify-content: space-between;
}

.nav-logo img {
  width: 125px;
  height: auto;
  margin-left: -9%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: -1%;
}

.bell-icon img {
  display: flex;
  width: 30px; /* Ensure this matches the profile-pic */
  height: 30px;
}

.profile-pic {
  display: flex;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
