.password-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;;
  gap: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-left: 146px;
}

.profile-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}



.camera-icon {
  width: 70px;
  height: 35px;
  margin-top: -60px;
  
}

.file-input {
  display: none;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  color: black;

  
}

.input-label span {
  color: red;
}

.form-group input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #858585;
  border-radius: 4px;
  width: 567px;
  height: 40px;
 
}


.submit-btn {
  background: black;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  width: 166px;
  height: 45px;
}

.submit-btn:hover {
  background: darkgray;
}
